extends ../layout/base 
block content 

	section.content-header 
		h1 
			| Actived
			small menu For list Reciped Actived Data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard
			li.active Recipe Actived
	section.content

				.box
					.box-header.with-border
									.box-tools.pull-right
										button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
											i.fa.fa-minus
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table#example3.table.table-bordered.table-hover
						
							thead
								tr
									th
										| No
									th
										| Name
									th
										| Unique Code
									th
										| Quantity
									th
										| Version
									th
										| Action
							for row, index in data
									tr
										td #{index+1}
										td #{row.name}
										td #{row.unique_code}
										td #{row.quantity}
										td #{row.version}
										td

											div(style='display:inline-block')
												form(method='post', action='/actived/revise/#{row.id}')
													input(name="_method", type="hidden", value="PUT")
													button.btn.btn-sm.btn-success(type='submit' onclick="return confirm('Are you sure?')")
														i.fa.fa-trash