extends ../layout/base 
block content 

    section.content-header 
        h1 
            | Planning
            small menu For list Planning Data
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Dashboard
            li.active Planning
    section.content

                .box
                    .box-header.with-border
                            button.btn.btn-info.btn-lg(data-target='#modalPlanning', data-toggle='modal', type='button')
                                        i.fa.fa-plus 
                                        | Add New Planning
                                    .box-tools.pull-right
                                        button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
                                            i.fa.fa-minus
                    .box-body
                        - if(messages.msg_info)
                            .alert.alert-success.alert-dismissable
                                button.close(data-dismiss='alert', type='button', aria-hidden='true')
                                    | ×
                                h4
                                    i.icon.fa.fa-check
                                    | Success!
                                | !{messages.msg_info}
                        - if(messages.msg_error)
                            .alert.alert-danger.alert-dismissable
                                button.close(data-dismiss='alert', type='button', aria-hidden='true')
                                    | ×
                                h4
                                    i.icon.fa.fa-ban
                                    | Alert!
                                | !{messages.msg_error}

                        table#example3.table.table-bordered.table-hover                     
                            thead
                                tr
                                    th
                                        | No
                                    th
                                        | NO. PO.
                                    th
                                        | Quantity
                                    th
                                        | Recipe
                                    th
                                        | Mesin
                                    th
                                        | Action 
                            if(data != undefined)
                                for row, index in data
                                    tr
                                        td #{index+1}
                                        td #{row.batch_code}
                                        td #{row.qty_plan}
                                        td #{row.recipe_name} 
                                        td  
                                            select#changeTank.form-control.test(name='tank')
                                                if(typeof datatank !== 'undefined')
                                                    for di, index in datatank
                                                        option(value='#{di.id}') #{di.name} 
                                        td
                                            div(style='display:inline-block')
                                                form(method='post', action='/planning/delete/#{row.id}')
                                                    input(name="_method", type="hidden", value="DELETE")
                                                    button.btn.btn-sm.btn-danger(type='submit' onclick="return confirm('Are you sure?')")
                                                        i.fa.fa-remove
                                            
                                            div(style='display:inline-block')
                                                form(method='post', action='/planning/running/#{row.plan_list_id}')
                                                    input(name="_method", type="hidden", value="PUT")
                                                    button.btn.btn-sm.btn-primary.test2(type='submit' onclick="return confirm('Are you sure?')") Ready To Process &nbsp;
                                                        i.fa.fa-play
                                                        
                                                        
block js
    script(type='text/javascript', src='/js/planning_content.js')
