extends ../layout/base 
block content 

	section.content-header 
		h1 
			| History
			small menu For list History Data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard
			li.active History
	section.content

				.box
					.box-header.with-border
									.box-tools.pull-right
										button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
											i.fa.fa-minus
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table#example3.table.table-bordered.table-hover
						
							thead
								tr
									th
										| No
									th
										| Name
									th
										| Unique Code
									th
										| Quantity
									th
										| Version
									th
										| Action
							for row, index in data
								tr
									td #{index+1}
									td #{row.tank_id}
									td #{row.plan_id}
									td #{row.process_id}
									td #{row.recipe_id}
									td
										div(style='display:inline-block')
												form(method='post', action='/history/excel')
													input(name="_method", type="hidden")
													button.btn.btn-sm.btn-success(type = 'submit')
														| Excel
														&nbsp;
														i.fa.fa-print
										| 
										div(style='display:inline-block')
												form(method='post', action='/history/pdf')
													input(name="_method", type="hidden")
													button.btn.btn-sm.btn-danger(type='submit')
														| PDF
														&nbsp;
														i.fa.fa-print
										