extends ../layout/base 
block content 

	section.content-header 
		h1 
			| Edit User
			small menu for editing User data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| User
			li.active Edit 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| User
				.box-tools.pull-right
					button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post',action='/users/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Name
									input(name='name', type='text', value="#{data.name}", placeholder='Enter Name', autofocus).form-control
								.form-group
									label
										| Email
									input(name='email',type='text',value="#{ (email == undefined) ? data.email : email }",placeholder='Enter Email').form-control
								.form-group
									label
										| Password
									input(name='password',type='password',value="",placeholder='Kosongkan Jika Tidak Diganti').form-control
									
								.form-group
									label
										| Role
									select#sel1.form-control(name='role')
											if(typeof dataUnit !== 'undefined')
												for rows, index in dataUnit
													option(value='#{rows.id}') #{rows.name}
							.box-footer
								input(name="_method", type="hidden", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/users').btn.btn-primary.pull-right
									| Back