extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit HMI IP
			small menu for editing HMI
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| HMI
			li.active Edit 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| HMI
				.box-tools.pull-right
					button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
						i.fa.fa-minus		
			.box-body
				form(role='form',method='post',action='/setting/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| HMI IP
									input(name='value_object', type='text', value="#{data.value_object}", required, placeholder='Enter IP //192.168.1.1:port', autofocus).form-control
							.box-footer
								input(name="_method", type="hidden", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/setting').btn.btn-primary.pull-right
									| Back