extends ../layout/base 
block content 

	section.content-header 
		h1 
			| HMI
			small IP Human Machine Interface
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard 
			li.active HMI
	section.content

				.boxa
					.box-header.with-border
									.box-tools.pull-right
										button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
											i.fa.fa-minus
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table.table.table-hover						
							thead
								tr
									th
										| No
									th
										| Name
									th
										| IP HMI Service
									th
										| Action
							for row, index in data
									tr
										td #{index+1}
										td #{row.key_object}
										td #{row.value_object}
										td
											div(style='display:inline-block')
												a(href='/setting/edit/#{row.id}').btn.btn-sm.btn-primary
														i.fa.fa-edit