table#example3.table.table-bordered.table-hover
    thead
        tr
            th
                | No
            th
                | Name
            th
                | Unique Code
            th
                | Quantity
            th
                | Version
            th
                | Action
    for row, index in data
            tr
                td #{index+1}
                td #{row.pv}
                td #{row.plan_id}
                td #{row.tank_id}
                td #{row.process_id}