extends ../layout/base
block content
    section.content-header
        h1
            | Dashboard
            small Control panel
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li.active Dashboard

        section.content
            // Small boxes (Stat box)
            .row
                .col-lg-3.col-xs-6
                    // small box
                    .small-box.bg-aqua
                        .inner
                            h3
                                | 5
                            p
                                | Recipe
                        .icon
                            i.ion.ion-bag
                        a.small-box-footer(href='#')
                            | More Info
                            i.fa.fa-arrow-circle-right
                // ./col
                .col-lg-3.col-xs-6
                    // small box
                    .small-box.bg-green
                        .inner
                            h3
                                | 2
                                sup(style='font-size: 20px') 
                            p
                                | Trend History
                        .icon
                            i.ion.ion-stats-bars
                        a.small-box-footer(href='#')
                            | More info
                            i.fa.fa-arrow-circle-right
                // ./col
                .col-lg-3.col-xs-6
                    // small box
                    .small-box.bg-yellow
                        .inner
                            h3
                                | 4
                            p
                                | Users
                        .icon
                            i.ion.ion-person-add
                        a.small-box-footer(href='#')
                            | More info
                            i.fa.fa-arrow-circle-right
                // ./col
                .col-lg-3.col-xs-6
                    // small box
                    .small-box.bg-red
                        .inner
                            h3
                                | 4
                            p
                                | Main Process
                        .icon
                            i.ion.ion-pie-graph
                        a.small-box-footer(href='#')
                            | More info
                            i.fa.fa-arrow-circle-right
                // ./col
            // /.row
            // top row
