extends ../layout/base 
block content 

	section.content-header 
		h1 
			| Tags
			small Daftar List Tags
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard
			li.active Recipe
	section.content

				.box
					.box-header.with-border 
						.header(style='padding-bottom:10px;')  
							.box-tools.pull-right
								button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
									i.fa.fa-minus
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table#tableTag.table.table-bordered.table-hover
							thead
								tr
									th
										| Name Tags
									th
										| Value 
							for index in data
									tr 
										td #{index}
										td  