extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Unit
			small menu for editing unit data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Unit
			li.active Edit 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Units
				.box-tools.pull-right
					button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post',action='/units/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| UNIQUE Name
									input(name='name', type='text', value="#{data.name}", required, placeholder='Enter Name', autofocus).form-control
								.form-group
									label
										| UNIQUE Code
									input(name='unique_code', type='text', value="#{data.unique_code}", required, placeholder='Enter unique code', autofocus).form-control
								.form-group
									label
										| Description
									input(name='description', type='text', value="#{data.description}", placeholder='Enter Description', autofocus).form-control

							.box-footer
								input(name="_method", type="hidden", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/units').btn.btn-primary.pull-right
									| Back