extends ../layout/base 
block content 

	section.content-header 
		h1 
			| Units
			small list Unit
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard 
			li.active Unit 
	section.content

				.box
					.box-header.with-border
									button.btn.btn-info.btn-lg(data-target='#myModal4', data-toggle='modal', type='button')
										i.fa.fa-plus 
										|  Add Unit
									.box-tools.pull-right
										button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
											i.fa.fa-minus
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table#example3.table.table-bordered.table-hover
						
							thead
								tr
									th
										| No
									th
										| Name
									th
										| UNIQUE Code
									th
										| Description
									th
										| Action
							for row, index in data
									tr
										td #{index+1}
										td #{row.name}
										td #{row.unique_code}
										td #{row.description}
										td
											div(style='display:inline-block')
												a(href='/units/edit/#{row.id}').btn.btn-sm.btn-primary
														i.fa.fa-edit
											| 
											div(style='display:inline-block')
												form(method='post', action='/units/delete/#{row.id}')
													input(name="_method", type="hidden", value="DELETE")
													button.btn.btn-sm.btn-danger(type='submit' onclick="return confirm('Are you sure?')")
														i.fa.fa-remove