extends ../layout/base 
block content 

	section.content-header 
		h1 
			| Running
			small menu For list Running Recipe Data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard
			li.active Running
	section.content

				.box
					.box-header.with-border
							
					.box-body
						- if(messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-check
									| Success!
								| !{messages.msg_info}
						- if(messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(data-dismiss='alert', type='button', aria-hidden='true')
									| ×
								h4
									i.icon.fa.fa-ban
									| Alert!
								| !{messages.msg_error}

						table#example3.table.table-bordered.table-hover
						
							thead
								tr
									th
										| No
									th
										| Tank
									th
										| Recipe
									th
										| Quantity
									th
										| Code
									th
										| Number
							for row, index in data
									tr
										td #{index+1}
										td #{row.tank_name}
										td #{row.recipe_name}
										td #{row.quantity}
										td #{row.batch_code}
										td #{row.batch_number}
														
														
