doctype html
html
    head
        include header.jade
    body.hold-transition.skin-blue.sidebar-mini
        .wrapper
            include navigation.jade
            include sidebar.jade
            .content-wrapper
                #myModal.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') ×
                                h4.modal-title Create New Tank
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                    label
                                        | UNIQUE NAME
                                    input(name='name', type='text', placeholder='As Identifier Alphabetic Or Numeric, without Space', required, autofocus).form-control
                                    .form-group
                                    label
                                        | Description
                                    input(name='des', type='text', placeholder='Description Of Tank', autofocus).form-control
                                    .form-group
                                    .modal-footer
                                            button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                            button.btn.btn-danger(data-dismiss='modal', type='button') Close
                #myModal2.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') ×
                                h4.modal-title Create New User
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                        label
                                            | Name
                                        input(name='name', type='text', placeholder='Enter Name', autofocus).form-control
                                    .form-group
                                        label
                                            | Email
                                        input(name='email',type='text',placeholder='Enter Address').form-control
                                    .form-group
                                        label
                                            | Password
                                        input(name='password',type='password',placeholder='Enter Password').form-control
                                    .form-group
                                        label
                                            | Role
                                        select#dataunit_sel.form-control(name='role')
                                                if(typeof dataUnit !== 'undefined')
                                                    for du, index in dataUnit
                                                        option(value='#{du.id}') #{du.name}
                                        .form-group    
                                    .modal-footer
                                        button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                        button.btn.btn-danger(data-dismiss='modal', type='button') Close
                #myModal3.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') ×
                                h4.modal-title Create New User Role
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                    label
                                        | NAME
                                    input(name='name', type='text', placeholder='As Identifier Alphabetic Or Numeric, without Space', required, autofocus).form-control
                                    .form-group
                                    label
                                        | Description
                                    input(name='des', type='text', placeholder='Description Of User Role', autofocus).form-control
                                    .form-group
                                    .modal-footer
                                            button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                            button.btn.btn-danger(data-dismiss='modal', type='button') Close
                #myModal4.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') ×
                                h4.modal-title Create New Unit
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                    label
                                        | NAME
                                    input(name='name', type='text', placeholder='Unit Name', required, autofocus).form-control
                                    .form-group
                                    label
                                        | UNIQUE Code
                                    input(name='unique_code', type='text', placeholder='Enter UNIQUE Code', autofocus).form-control
                                    .form-group
                                    label
                                        | Description
                                    input(name='des', type='text', placeholder='Description Of Unit', autofocus).form-control
                                    .form-group
                                    .modal-footer
                                            button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                            button.btn.btn-danger(data-dismiss='modal', type='button') Close
                #myModal5.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') × 
                                h4.modal-title Create New Main Process
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                    label
                                        | NAME
                                    input(name='name', type='text', placeholder='Unit Name', required, autofocus).form-control
                                    .form-group
                                    label
                                        | UNIQUE Code
                                    input(name='unique_code', type='text', placeholder='Enter UNIQUE Code', autofocus).form-control
                                    .form-group
                                        label
                                        | Unit
                                        select#dataunit2_sel.form-control(name='unit_id')
                                                if(typeof dataUnit !== 'undefined')
                                                    for du, index in dataUnit
                                                        option(value='#{du.id}') #{du.name}
                                        .form-group
                                    .modal-footer
                                            button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                            button.btn.btn-danger(data-dismiss='modal', type='button') Close
               
                #modalRecipe.modal.fade(role='dialog')
                    .modal-dialog.modal-md
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') × 
                                h4.modal-title Create New Recipe
                            .modal-body
                                form(id='formRecipe',role='form',method='post',action='')
                                    .row
                                        .col-sm-12
                                            .form-group
                                            label
                                                | NAME :
                                            input(name='name', type='text', placeholder='Recipe Name', required, autofocus).form-control                                         
                                    .row        
                                        .col-sm-12
                                            .form-group
                                            label
                                                | Unique Code :
                                            input(name='unique_code', type='text', placeholder='Enter Unique Code', autofocus).form-control
                                    .row
                                        .col-sm-12
                                            .form-group
                                            label
                                                | Quantity :
                                            input(name='quantity', type='number', placeholder='Enter Quantity', autofocus).form-control
                                    
                                    .row
                                        .col-sm-12
                                            table#example6.table.table-bordered.table-hover
                                                thead
                                                    tr
                                                        th
                                                            | No
                                                        th
                                                            | Name
                                                        th
                                                            | Description
                                                        th
                                                            | Perbandingan 
                                                tbody
                                                    if(typeof dataUnit2 !== 'undefined')
                                                        for data3, index in dataUnit2
                                                            tr
                                                                 input(name='id_main_p', type='hidden', value='#{data3.id}').form-control
                                                                 input(name='name_main', type='hidden', value='#{data3.name}').form-control
                                                                td #{data3.id}
                                                                td #{data3.name}
                                                                td 
                                                                td 
                                                                    input(class='inputPb', name='pb', type='number', required).form-control 
                                    .modal-footer
                                        button.btn.btn-success(type='submit') Add New Recipe
                                        button.btn.btn-default(data-dismiss='modal', type='button') Close

                #modalPlanning.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(data-dismiss='modal', type='button') × 
                                h4.modal-title Create New Planning
                            .modal-body
                                form(role='form',method='post',action='')
                                    .form-group
                                        label
                                            | Date
                                        input(name='date', type='date', placeholder='', required, autofocus).form-control
                                    .form-group
                                        label
                                            | No. PO.
                                        input(name='plan_no', type='text', placeholder='Enter No PO', required, autofocus).form-control  
                                    .form-group
                                        label
                                            | Recipe
                                        select#recipe_sel.form-control(name='recipe_id')
                                                if(typeof dataUnit2 !== 'undefined')
                                                    for di, index in dataUnit2
                                                        option(value='#{di.id}') #{di.name} 
                                    .form-group
                                    label
                                        | Quantity
                                    input(name='qty_plan', type='number', placeholder='Enter Quantity', required, autofocus).form-control 
                                    .modal-footer
                                        button.btn.btn-success(type='submit', style='margin-right:10px') Submit
                                        button.btn.btn-danger(data-dismiss='modal', type='button') Close
                block content
            include footer.jade
            include js.jade
                block js