title
	| #{title}
link(href='/icon/favicon.ico', rel='shortcut icon', type='image/x-icon')
link(rel='stylesheet', href='/adminlte/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
link(rel='stylesheet', href='/adminlte/dist/css/skins/_all-skins.min.css')
link(rel='stylesheet', href='/adminlte/plugins/iCheck/square/blue.css')
link(rel='stylesheet', href='/adminlte/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', href='/adminlte/plugins/Ionicons/css/ionicons.min.css')
