script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/dist/js/app.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='https://unpkg.com/axios/dist/axios.min.js')


script.
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable()
    $('#example3').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true
    })

    //untuk data view tags
    $('#tableTag').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
  })

  })
    $(function () {
    $('#example5').DataTable()
    $('#example6').DataTable({
        'paging'      : false,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true
  })
  })

  //- if(typeof engineTest !== 'undefined')
  //-   for asd, index in engineTest
  //-   console.log(asd)

  document.querySelectorAll('.test').forEach((tetew, indexTetew) => {
    console.log(tetew)
    console.log(indexTetew)

    let responseJembut = null
    tetew.addEventListener('click', function() {
      axios.get('http://localhost:3000/engine/tes123')
      .then(function (response) {
        // handle success
        responseJembut = response.data.tags
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
    })
    tetew.addEventListener('change', function() {
      console.log('response jembut', responseJembut)
      console.log('index tetew', tetew.selectedIndex)
      var jembutTiga = responseJembut.filter(jembut => jembut.name === `tank${tetew.selectedIndex+1}_status`)
      console.log('resullttttt', jembutTiga)
      if (jembutTiga[0].value === 0 ) {
        alert('BISA BOSS')
      } else {
        document.querySelectorAll('.test')[tetew.selectedIndex].disabled
      }
        //- var jembut2 = jembut.filter(jembut1 => jembut1.name === `tank${}_status`)
    })
  })
  

script(type='text/javascript', src='/adminlte/plugins/datatables.net/js/jquery.dataTables.min.js')
script(type='text/javascript', src='/adminlte/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js')

script(type='text/javascript', src='/adminlte/dist/js/pages/dashboard.js')
