header.main-header
	a.logo(href='/', style='background-color:white')
		span.logo-mini
			img(src='adminlte/dist/img/tetra.png', alt='User Image')
		img.img-square(src='adminlte/dist/img/logomini2.png', alt='User Image')
				
	nav(role='navigation').navbar.navbar-static-top
		a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		div.navbar-custom-menu
			ul.nav.navbar-nav

				li.dropdown.user.user-menu
					a(href='#',data-toggle='dropdown').dropdown-toggle
						i.fa.fa-arrow-circle-right
						span.hidden-xs
							| Settings
					ul.dropdown-menu
						li.user-footer
							.pull-left
								a(href='/setting').btn.btn-default.btn-flat
									| HMI
							.pull-right
								a(href='/logout').btn.btn-default.btn-flat
									| Sign out