aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='adminlte/dist/img/tetra.png', alt='User Image')
            .pull-left.info
              p <b>Tetra Pak</b>
              a(href='#')
                i.fa.fa-circle.text-success
                |  Online
          // search form
          form.sidebar-form(action='#', method='get')
            .input-group
              input.form-control(name='q', type='text', placeholder='Search...')
              span.input-group-btn
                button#search-btn.btn.btn-flat(name='search', type='submit')
                  i.fa.fa-search
          // /.search form
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu(data-widget='tree')
            li.header MAIN NAVIGATION
            li.active.treeview
              a(href='/dash')
                i.fa.fa-dashboard
                span Dashboard
                span.pull-right-container
            li.treeview
              a(href='#')
                i.fa.fa-sliders
                span Production
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/planning')
                    i.fa.fa-tasks
                    |  Planning
                li
                  a(href='/running')
                    i.fa.fa-gears
                    |  Running
                li
                  a(href='/history')
                    i.fa.fa-history
                    | History
            li.treeview
              a(href='#')
                i.fa.fa-mail-forward
                span Recipe
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/recipe')
                    i.fa.fa-plus-circle
                    |  Created
                li
                  a(href='/approved')
                    i.fa.fa-thumbs-up
                    |  Approved
                li
                  a(href='/actived')
                    i.fa.fa-play-circle
                    |  Actived
                li
                  a(href='/obsoluted')
                    i.fa.fa-history
                    |  Obsoluted
            li.treeview
              a(href='#')
                i.fa.fa-database
                span Master Data
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/tanks')
                    i.fa.fa-database
                    |  Tank
                li.treeview
                  a(href='/units')
                    i.fa.fa-file
                    |  Unit
                li
                  a(href='/mainprocess')
                    i.fa.fa-play
                    |  Main Process
                li
                  a(href='/tags')
                    i.fa.fa-external-link
                    |  Tags
                li
                  a(href='/mesin')
                    i.fa.fa-external-link
                    |  Machine
            li.treeview
              a(href='#')
                i.fa.fa-users
                span Users
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/users')
                    i.fa.fa-user
                    |  User
                li
                  a(href='/roles')
                    i.fa.fa-exchange
                    |  Role
        // /.sidebar