extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Recipe
			small menu for editing Recipe data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Recipe
			li.active Edit 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Recipe
				.box-tools.pull-right
					button(data-toggle='tooltip', data-widget='collapse', type='button', title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post',action='/recipe/edit/#{(id==undefined) ? data.id : id}')
					.row
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(data-dismiss='alert', type='button', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
					.row
						.col-sm-6
							.form-group
							label
								| NAME :
							input(name='name', type='text', placeholder='Unit Name', value="#{ (name == undefined) ? data.name : name }",required, autofocus).form-control
						.col-sm-6
							.form-group
							label
								| Mode Recipe :
							.form-check.form-check-inline
							input(id='radioPb', name='pb_sp', value='pb', type='radio', autofocus).form-check-input
							label(for='radioPb') Perbandingan 
							&nbsp;&nbsp;
							input(id='radioSp', name='pb_sp', value='sp', type='radio', autofocus).form-check-input
							label(for='radioSp') Set Point
					.row		
						.col-sm-6
							.form-group
							label
								| UNIQUE Code :
							input(name='unique_code', type='text',value="#{ (name == undefined) ? data.unique_code : unique_code }", placeholder='Enter UNIQUE Code', autofocus).form-control
					.row
						.col-sm-6
							.form-group
							label
								| Quantity :
							input(name='quantity', type='number', placeholder='Enter Quantity', autofocus).form-control
					.row
						.col-sm-12
							.form-group
							label
								| Tank :
							&nbsp;&nbsp;
							if(typeof dataUnit !== 'undefined')
								for data2, index in data
									input(type="checkbox", name=tank, value='#{data2.id}' checked disabled .checkbox-inline) 
									span #{data2.name}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					.row
						.col-sm-12
							table#example6.table.table-bordered.table-hover
								thead
									tr
										th
											| No
										th
											| Name
										th
											| Description
										th
											| Perbandingan
										th
											| Set Point
										tbody
											if(typeof dataUnit !== 'undefined')
												for data3, index in dataUnit
													tr
														input(type='hidden', name='id_main_p', value='#{data3.id}').form-control
														td #{data3.id}
														td #{data3.name}
														td 
														td 
															input(class='inputPb', required name='pb', value='#{data.}' type='number').form-control
														td 
															input(class='inputSp', required name='sp', type='number').form-control
							.box-footer
								input(name="_method", type="hidden", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/recipe').btn.btn-primary.pull-right
									| Back